* {
    border: none;
    border-radius: 0;
    font-family: Inter, Sans;
    font-size: 16px;
    font-weight: 600;
    box-shadow: none;
    text-shadow: none;
}

window {
    color: rgb(230, 230, 230);
    background: rgba(0, 0, 0, 1);
}

window#waybar.solo {
    color: rgba(217, 216, 216, 1);
    background: rgba(0, 0, 0, 1);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(255, 255, 255, 0.2);
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button.visible {
    color: rgb(255, 255, 255);
}

#workspaces button.urgent {
    color: rgba(238, 46, 36, 1);
}

#workspaces button:hover {
    color: rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0);
}

#mode,
#battery,
#network,
#pulseaudio {
    margin: 0px 6px 0px 10px;
}

#clock {
    margin: 0px 5px 0px 10px;
}

#custom-separator {
    margin: 0px 5px 0px 5px;
}

#custom-nepali-date {
    margin: 0px 16px 0px 0px;
}

#battery {
    margin-right: 20px;
}

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#tray {
    margin-right: 10px;
}
