* {
    border: none;
    border-radius: 0;
    font-family: MapleMonoNormalNLNF, FontAwesome, sans-serif;
    font-size: 16px;
    font-weight: 800;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: #1d2021;
    color: #d4be98;
    border-bottom: 1px solid #d4be98;
}

#waybar>* {
    padding-bottom: 3px;
}

.module {
    margin-left: 10px;
    margin-right: 10px;
}

#clock.date,
#custom-nepali-date,
#clock.time {
    color: #e89b47;
    margin: 0 5px;
}

#network,
#battery,
#pulseaudio,
#custom-logout {
    color: #e89b47;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(232, 155, 71, 0.3);
    border: none;
}

#workspaces button.active {
    color: #e89b47;
}

#workspaces button.visible {
    color: rgb(255, 255, 255);
}

#workspaces button.urgent {
    color: rgba(238, 46, 36, 1);
}

#workspaces button:hover {
    color: rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0);
    border-top: none;
}
