theme = "github_dark_dimmed"

[editor]
shell = ["nu", "-c"]
line-number = "relative"
mouse = false
cursorline = true
color-modes = true
auto-format = true
rulers = [80, 120]
auto-pairs = true
completion-timeout = 5
completion-trigger-len = 1
idle-timeout = 80
end-of-line-diagnostics = "hint"

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.statusline]
left = ["mode", "spinner", "file-name", "file-modification-indicator"]
center = ["version-control", "workspace-diagnostics"]
right = ["diagnostics", "selections", "position", "position-percentage", "file-encoding", "file-line-ending", "file-type"]
separator = "│"
mode.normal = "NOR"
mode.insert = "INS"
mode.select = "SEL"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.lsp]
# display-inlay-hints = true

[editor.soft-wrap]
enable = true
max-wrap = 25 # increase value to reduce forced mid-word wrapping
max-indent-retain = 0 # 40
wrap-indicator = "↪"
wrap-at-text-width = false

[editor.whitespace.render]
space = "all"
tab = "all"
newline = "none"
nbsp = "all"

[editor.whitespace.characters]
space = "."
nbsp = "⍽"
tab = "|"
newline = "⏎"
tabpad = "."

[editor.indent-guides]
render = true
character = "⸽"# ╎" # Some characters that work well: "▏", "╎", "┆", "┊", "⸽"
skip-levels = 1

[editor.search]
smart-case = true

[keys.normal]
"A-j" = [ "extend_to_line_bounds", "delete_selection", "paste_after" ]
"A-k" = [ "extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before" ]
# jank but works.
# destructive for file end and starts
"A-up" = [
  "keep_primary_selection",
  "extend_line",
  "yank",
  "move_line_up",
  "open_above",
  "normal_mode",
  "replace_with_yanked",
  "move_line_down",
  "move_line_down",
  "extend_line",
  "delete_selection",
  "move_line_up",
  "move_line_up",
]
"A-down" = [
  "keep_primary_selection",
  "extend_line",
  "yank",
  "move_line_down",
  "open_below",
  "normal_mode",
  "replace_with_yanked",
  "move_line_up",
  "move_line_up",
  "extend_line",
  "delete_selection",
  "move_line_down",
]

"C-K" = "goto_prev_paragraph"
"C-J" = "goto_next_paragraph"

# Some nice Helix stuff
"C-h" = "select_prev_sibling"
"C-j" = "shrink_selection"
"C-k" = "expand_selection"
"C-l" = "select_next_sibling"

"C-r" = ":config-reload"
"X" = ["extend_line_up", "extend_to_line_bounds"]
";" = "command_mode"
"esc" = ["collapse_selection", "keep_primary_selection"]

"C-a" = [
  ':sh $nu.temp-path | path join yazi-path | rm -f $in',
  ':insert-output yazi --chooser-file %sh{ $nu.temp-path | path join yazi-path }',
  ':open %sh{ $nu.temp-path | path join yazi-path | cat $in }',
  ':redraw'
]

[keys.normal."space"]
n = ":new"
e = "file_explorer_in_current_buffer_directory"
E = "file_explorer_in_current_directory"
f = "file_picker_in_current_directory"
F = "file_picker_in_current_buffer_directory"


[keys.insert]
"esc" = ["collapse_selection", "normal_mode"]
"A-b" = "move_prev_word_end"
"A-f" = "move_next_word_start"
"C-left" = "move_prev_word_end"
"C-right" = "move_next_word_start"
"C-space" = "completion"
"A-<" = "goto_file_start"
"A->" = "goto_file_end"
"pageup" = "page_up"
"pagedown" = "page_down"
"home" = "goto_line_start"
"end" = "goto_line_end_newline"

[keys.normal."'"]
f = ":format"
i = ":toggle lsp.display-inlay-hints"

[keys.normal.Z]
Z = ":write-quit-all"
